 

            @media (min-width: 992px) {
                /*                .items {
                                    width: 32.9333333% !important;
                                }*/                                

                .col-md-3 {
                    width: 24.8%;
                }
                .col-md-5{
                    padding-left: 0px !important; 
                    padding-right: 1px !important;
                }

                .col-md-2 {
                    width: 13.66666667%;
                }

                .col-md-4 {
                    width: 28.99%;
                }

                .col-md-5 {
                    width: 43.2%;
                }

                .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 ul{
                    position: relative;
                    min-height: 1px;
                    padding-right: 5px; 
                    padding-left: 5px; 
                    margin-left: 0.99px;

                }
            }


            h4, .h4, h5, .h5, h6, .h6 {
                text-align: center;
            }

            .procategory{
                margin-left: 1px;
            }


            .items{
                margin-left: 1px;

            }


            ul{
                padding: 0 !important;
                list-style-type: none !important;
            }

            .alertify-cover{
                background-color: #000000 !important;
                opacity: 0.4 !important;
            }

            .bg-menu{                
                background-color: #333333; 
                color: #ffffff;
                padding-top: 2%;
                padding-bottom:5%;
                /*min-height: 100%;*/
            }
            
            .col-xs-12{
                margin-top: 1px;  
            }

            .itemdesc{
                /*margin-left: -1%;*/
                background-color: #777777; 
                text-align: center;
                padding-top: 2%;
                padding-bottom: 2%;
            }

            .col-md-6{
                padding-left: 0px !important;   
            }


            .itemdesc table{                
                text-align: center !important;
                min-width: 80%;
                padding-top: 1%;
                margin-left: 10% !important;
                margin-bottom: 2% !important;
                color: #ffffff !important;
            }

            .table-striped > tbody > tr:nth-of-type(odd) {
                background-color: #333333 !important;
            }

            .bodycontent{
                margin-top: -19px;
            }


            .bg-menu li{                
                padding: 5px;
            }
            .bg-menu li:hover{
                background-color: #cc0000;  
                padding: 5px;
            }
            .bg-menu li a{
                color: #ffffff;
                text-decoration: none;
            }

            .row {
                margin-right: -15px;
                // margin-left: -30px !important;
            }

            #mainDHMenu li{                
                margin-top: 2px;
                background-color: #cccccc;
                padding: 5px;
                //  width: 25%;
                font-size: medium;
                font-weight: bold;
            }

            #mainDHMenu li:hover{
                cursor: pointer;                
                background-color: #999999;               

            }

            .modal #catselector{
                cursor: pointer;               

            }

            .modal #itemselector{
                cursor: pointer;
            }

            .form-horizontal .radio, .form-horizontal .checkbox {
                margin-left: 20%;
            }

            /*            #editItemdesc .checkbox {
                            margin-left: 10% !important;
                        } */

            .btn{
                margin-top: 12px !important;
            }

        